<div class="list row">
  <div class="col-md-6">
    <h4>Lista de Receitas</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let receita of receita; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveReceita(receita, i)"
      >
        {{ receita.nome }}
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <div *ngIf="currentReceita">
      <h4>Receita
        <span *ngIf="hasLiked">
          ❤
        </span>
      </h4>
  
      <div>
        
        <label><strong>Nome:</strong></label> {{ currentReceita.nome }}
      </div>
      <div>
        <label><strong>Categoria:</strong></label>
        {{ currentReceita.categoria }}
      </div>
      <div>
        <label><strong>Ingredientes:</strong></label>
        {{ currentReceita.ingredientes}}
      </div>
      <div>
        <label><strong>Porções:</strong></label>
        {{ currentReceita.porcoes }}
      </div>
      <div>
        <label><strong>Tempo de preparo:</strong></label>
        {{ currentReceita.tempodepreparo }}
      </div>
      <div>
        <label><strong>Modo de preparo:</strong></label>
        {{ currentReceita.mododepreparo }}
      </div>
      <div>
        <label><strong>Observação:</strong></label>
        {{ currentReceita.observacao }}
      </div>
      <a *ngIf="currentUsuario && currentUsuario.is_admin == true"class="badge badge-warning" 
      routerLink="/editar-receita/{{ currentReceita.id }}">
        Editar
      </a>
    </div>
    <div>
      <div *ngIf="!isObjectEmpty (currentUsuario)">
        <button (click)="likeRecipe()" *ngIf="!hasLiked" title="gostar">❤</button>
        <button (click)="dislikeRecipe()" *ngIf="hasLiked" title="desgostar"
        >💔</button>
      </div>
    </div>
    <div *ngIf="!currentReceita">
      <br/>
      <p>Clique em uma receita</p>
    </div>
  </div>
</div>
