<div *ngIf="viewMode; else editable">
  <div *ngIf="currentCategoria.id">
    <h4>Categoria</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentCategoria.nome }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/lista-categoria/{{ currentCategoria.id }}"
    >
      Editar
    </a>
  </div>

  <div *ngIf="!currentCategoria">
    <br />
    <p>Clique em uma Categoria</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentCategoria.id" class="edit-form">
    <h4>Categoria</h4>
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          [(ngModel)]="currentCategoria.nome"
          name="nome"
        />
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteCategoria()">
      Deletar
    </button>
    <ng-template #deleteModal>
      <div class="modal-body text-center">
        <p>Confirmar?</p>
        <button type="button" class="btn btn-default" (click)="deleteCategoria()">Sim</button>
        <button type="button" class="btn btn-primary">Não</button>    
      </div>
    </ng-template>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateCategoria()"
    >
      Salvar Alteração
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentCategoria.id">
    <br />
    <p>Não posso acessar essa Categoria...</p>
  </div>
</ng-template>
