<div *ngIf="viewMode; else editable">
    <div *ngIf="currentReceita.id">
      <h4>Receita</h4>
      <div>
        <label><strong>Nome:</strong></label> {{ currentReceita.nome }}
      </div>
      <div>
        <label><strong>Categoria:</strong></label>
        {{ currentReceita.categoria }}
      </div>
      <div>
        <label><strong>Ingredientes:</strong></label>
        {{ currentReceita.ingredientes }}
      </div>
      <div>
        <label><strong>Porções:</strong></label>
        {{ currentReceita.porcoes }}
      </div>
      <div>
        <label><strong>Tempo de preparo:</strong></label>
        {{ currentReceita.tempodepreparo }}
      </div>
      <div>
        <label><strong>Modo de preparo:</strong></label>
        {{ currentReceita.mododepreparo }}
      </div>
      <div>
        <label><strong>Observação:</strong></label>
        {{ currentReceita.observacao }}
      </div>
      <a
        class="badge badge-warning"
        routerLink="/lista-receita/{{ currentReceita.id }}"
      >
        Editar
      </a>
    </div>

    <div *ngIf="!currentReceita">
      <br />
      <p>Clique em uma receita</p>
    </div>
  </div>

  <ng-template #editable>
    <div *ngIf="currentReceita.id" class="edit-form">
      <h4>Receita</h4>
      <form>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            [(ngModel)]="currentReceita.nome"
            name="nome"
          />
        </div>
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <input
            type="text"
            class="form-control"
            id="categoria"
            [(ngModel)]="currentReceita.categoria"
            name="categoria"
          />
        </div>

        <div class="form-group">
          <label for="ingredientes">Ingredientes</label>
          <input
            type="text"
            class="form-control"
            id="ingredientes"
            [(ngModel)]="currentReceita.ingredientes"
            name="ingredientes"
          />
        </div>
        <div class="form-group">
          <label for="porcoes">Porções</label>
          <input
            type="text"
            class="form-control"
            id="porcoes"
            [(ngModel)]="currentReceita.porcoes"
            name="porcoes"
          />
        </div>
        <div class="form-group">
        <label for="tempodepreparo">Tempo de preparo</label>
        <input
          type="text"
          class="form-control"
          id="tempodepreparo"
          [(ngModel)]="currentReceita.tempodepreparo"
          name="tempodepreparo"
        />
      </div>
        <div class="form-group">
          <label for="mododepreparo">Modo de preparo</label>
          <input
            type="text"
            class="form-control"
            id="mododepreparo"
            [(ngModel)]="currentReceita.mododepreparo"
            name="mododepreparo"
          />
        </div>
      </form>
      <button class="badge badge-danger mr-2" (click)="deleteReceita()">
        Deletar
      </button>
      <ng-template #deleteModal>
        <div class="modal-body text-center">
          <p>Confirmar?</p>
          <button type="button" class="btn btn-default" (click)="deleteReceita()">Sim</button>
          <button type="button" class="btn btn-primary">Não</button>    
        </div>
      </ng-template>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateReceita()"
      >
        Salvar Alteração
      </button>
      <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentReceita.id">
      <br />
      <p>Não posso acessar essa receita...</p>
    </div>
  </ng-template>
