<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          required
          [(ngModel)]="categoria.nome"
          name="nome"
        />
      </div>
      <button (click)="saveCategoria()" class="btn btn-success">Registrar</button>
    </div>

    <div *ngIf="submitted">
      <h4>Categoria registrada com sucesso!</h4>
      <button class="btn btn-success" (click)="newCategoria()">Adicionar nova receita</button>
    </div>
  </div>
</div>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>