
@import "~bootstrap/dist/css/bootstrap.css";

#menu{
    background-color: #ffce52;
  color: black;

}
.logo{
    width:20%;
}
#search{
    width: 40px;
}
.icone-usuario{
  width: 10%;
  margin-left: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#encontre{
width:10em;
}
.icones-midia{
  margin-top: 24px;
}
@media (min-width: 400px) and (max-width: 767.98px) {
  #encontre{
    width:7em;
  }
}
#destaque{
  background-color: #f1d07c;
  margin-top: 20px;
  font-size: 15px;
}
#carrossel{

  margin-top: 20px;
  background-color: #f8bd29;
  box-shadow: #f1d07c 5px 5px 1px;
}
.social-media {
    display: inline-block; }
    .social-media p a {
      border: 1px solid #e6e6e6;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 4px; }
      .social-media p a span {
        color: #4d4d4d; }
      .social-media p a:hover {
        background: #f1bc31;
        border-color: #f1bc31; }
        .social-media p a:hover span {
          color: #fff; }

/*Código do BTT*/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
 /*Fim do código BTT*/

 /*Início Carrossel*/
.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}
/*Fim Carrossel*/
/*Inicio Cards da Direita*/

.card-direita{
  position:relative;
  float:right;
  border: #aeaeae;
  border-style:solid;
  border-width: 0.1em;

  width: 25em;
  margin-right: 56em;
  margin-top: 2em;
}

.distancia-card{
  margin: 0.3em;
}
@media (min-width: 400px) and (max-width: 767.98px) {
  .card-direita{
    width: 20em;
    position:absolute;
    margin-left:2.5em;

  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-direita{
    margin-right: 1px;
  }
}

@media (min-width: 992px)
{
  .card-direita{
    margin-right:1em;

  }
}
/*Fim card direitas*/

/*Inicio Titulos Receitas*/
.titulos-receitas{
  margin-top: 1em;
  font-size: 1.2em;
  color:#f8bd29
}
/*Fim dos Títulos Receitas*/

/*Inicio Titulos Receitas*/
.link-receitas{
  margin-top: 1em;
  font-size: 1.2em;
  color:#33000a;
  text-decoration: none;
  font-weight: bold;
}
.link-receitas:hover{
  text-decoration: none;
  color:#33000a;

}
/*Fim dos Títulos Receitas*/

.detalhes-receita{
  float:right;
  font-family: "Segoe MDL2 Assets";
  font-size: 20px;
}

.lista-receita-dados:active{
  background-color: #A6C55B ;
}

.separador{
  background-color: #f1d07c;
  height: 50px;
  margin-top: 20px;
  font-size: 15px;
}
.nome-do-separador{
  text-align: center;
  padding:8px;
}
.mt-50{
  margin-top:50px;
}

